<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='hsb_app_style.css') }}">

</head>
    
<body>
    <nav>
        <a href="/">Home</a>
        |
        <a href="/viz-home">Data Viz</a>
        |
        <a href="/ml">Test the Model</a>
        |
        <a href="about">About</a>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <div class='signature'>
        Dr. Lucas Foulon-Pinto<a href="https://www.linkedin.com/in/lucasfoulonpinto/" target="_blank" style = "text-decoration: none; font-size: 20px">🐊</a>
        <br>Pharm.D, Ph.D
        <br>Winter 2024 - <i>Version 1.0.0</i>
    </div>
</body>
</html>