{% extends "base.html" %}

{% block content %}
<div>
    <h1>Cardiovascular Disease Prediction</h1>
    <p>
    Are you at risk of a cardiovascular disease ? This model was trained
    on data from more than 65000 subjects either with or without cardiovascular
    disease. Enter your data below to find out. 
    </p>
    <form method="POST">
        {{ user_form.hidden_tag() }}

        {{ user_form.age_input.label }}
        {{ user_form.age_input() }}
        <br>
        {{ user_form.weight_input.label }}
        {{ user_form.weight_input() }}
        <br>
        {{ user_form.height_input.label }}
        {{ user_form.height_input() }}
        <br>
        {{ user_form.aphi_input.label }}
        {{ user_form.aphi_input() }}
        <br>
        {{ user_form.aplo_input.label }}
        {{ user_form.aplo_input() }}
        <br>
        {{ user_form.cholesterol_input.label }}
        {{ user_form.cholesterol_input(style="list-style:none") }}

        {{ user_form.gluc_input.label }}
        {{ user_form.gluc_input(style="list-style:none") }}
        <br>


        {{ user_form.submit() }}
        <button type="reset" class="reset-btn">Reset</button>
    </form>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
</div>
<div>
    <p>
        category iiis:
        {{ test_result }}
    </p>
</div>



{% endblock %}