{% extends "base.html" %}



{% block content %}
<div>
    <h1>{{ title }}</h1>
    <h2>Variable Description</h2>
    <div>
        {{ table|safe }}
    </div>
    <h2>Visualisation</h2>
    <div>
        <img src = "{{ img }}" alt="Visualization" class = "viz-img">
    </div>
    <h2>Variable Analysis</h2>
    <p>{{ analysis|safe }}</p>
</div>
<div>
    <h2>Conclusion</h2>
    <p>{{ conclusion|safe }}</p>
</div>
<div>
    <a href = "/viz-home">Back to feature selection</a>
</div>

{% endblock %}